@model TaThiVanAnhBTH2.Models.Customer

@{
	ViewData["Title"] = "Delete";
}

<h3>Bạn có muốn xóa thông tin Khách hàng</h3>
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CustomerName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CustomerName)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="CustomerID" />
		<input type="submit" value="Delete" class="btn btn-danger" />
		<a class="btn btn-success" asp-action="Index">Danh sách Khách hàng</a>
	</form>
</div>